Source: python3-pypeerassets
Section: python
Priority: optional
Maintainer: Peerchemist, <peerchemist@protonmail.ch>
Build-Depends: debhelper (>= 9),
               dh-python,
               python3 (>= 3.4.2-1),
               python3-setuptools,
               python3-all
Standards-Version: 3.9.6
X-Python-Version: >= 3.4

Package: python3-pypeerassets
Architecture: all
Section: python
Depends: python3-secp256k1, python3-peercoinrpc, python3-protobuf, ${misc:Depends}, ${python3:Depends}
Description: Python library to communicate with peercoin daemon via JSON-RPC protocol.
  Python Library to communicate with peercoin daemon via JSON-RPC protocol implemented with popular python-requests library.
 .
